.admin__layout{
    margin-left: 220px;
    width: calc(100% - 220px);
}

main{
    border: 0.5px solid #000;
    background-color: rgb(226, 217, 217);
    border-radius: 5px;
    height: 100vh;
    height: auto;
    padding: 20px;
}